h2{
  text-align: center;
  color: transparent;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  font-family: 'Denk One', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 30px;

}
.ImageGrid img{
  display: grid;
  grid-template-columns: repeat(2fr, 1fr);
  margin-top: 5vh;
  margin-left: 5vh;
  

border-radius: 20px;
width: 240px;
 /* box-shadow: 1px 1px 20px 1px rgba(0, 0, 0, 0.733);   */
}